* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fc;
  text-align: center;
  color: #5d5d77;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.intro {
  margin-top: 100px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.intro h2 {
  font-weight: 300;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.25px;
  color: #6b6b6b;
  margin-bottom: 8px;
}

.intro h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.25px;
  color: #4D4F62;
  margin-bottom: 20px;
}

.intro p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.1px;
  color: #4D4F62;
  width: 540px;
  margin: 0 auto;
  opacity: 0.5;
}

.cards-container {
  width: 100%;
  max-width: 1110px;
  margin: 64px auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 350px;
  height: 250px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 255, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  position: relative;
}

.card h3 {
  font-weight: 600;
  font-size: 20px;
  color: #4D4F62;
  margin-bottom: 8px;
  margin-right: 90px; 
}

.card p {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.09px;
  color: #4D4F62;
  opacity: 0.5;
  margin-top: 4px;
  margin-right: 90px;
}

.card img {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.turquoise {
  border-top: 4px solid #44D3D2;
}

.red {
  border-top: 4px solid #ea5454;
}

.blue {
  border-top: 4px solid #549EF2;
}
